.about-us {
    font-size: 16px;
    margin-bottom: 4.375rem;
}
.about-us__image {
    width: 100%;
    padding-right: 1.875em;
}
.about-us__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.about-us__content h3 {
    color: #111;
    font-size: 1.875em;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1.1666666667em;
}
.about-us__content p {
    color: #111;
    font-size: .9375em;
    font-weight: 400;
    line-height: 1.8em;
    margin-bottom: 2em;
}
.subcribe-bar {
    font-size: 16px;
    background-color: #f5f5f5;
    padding: 3.125em;
    margin-bottom: 4.375rem;
}
.subcribe-bar__content {
    margin-bottom: 1.875em;
}
.subcribe-bar__content h5 {
    color: #111;
    font-size: .9375em;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 1em;
}
.subcribe-bar__content h3 {
    color: #111;
    font-size: 1.875em;
    font-weight: 700;
    line-height: 1;
}
.subcribe-bar__form {
    display: flex;
    align-items: center;
}
.subcribe-bar__form input {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    height: 50px;
    width: 100%;
    font-family: inherit;
    transition: .2s ease-in-out;  
    padding: 0 1.25em;
    color: #888;
    font-size: .875rem;
    font-weight: 400;
    line-height: 50px;
    border-radius: 0.3125em;
    margin-right: 0.9375em;
}
