.contact-us {
    font-size: 16px;
    margin-bottom: 3.75rem;
}
.contact-us__info {
    margin-bottom: 1.875rem;
}
.contact-us .contact-title {
    color: #111;
    font-size: 1.375em;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1.3636363636em;
}
.contact-us__info .contact-description {
    color: #111;
    font-size: .9375em;
    font-weight: 400;
    line-height: 1.7333333333em;
    margin-bottom: 2em;
}
.contact-us__info .contact-method__item {
    display: flex;
    align-items: center;
    margin-bottom: 1.25em;
}
.contact-method__item p{
    color: #111;
    font-weight: 500;
}
.contact-us__info .contact-method__item i {
    height: 3.125em;
    width: 3.125em;
    border: 1px solid #e1e1e1;
    border-radius: 999px;
    text-align: center;
    line-height: 3.125em;
    color: #e49c86;
    margin-right: 1.25em;
}

.contact-us__form {
    margin-top: 3.125rem;
}
.contact-us__form form .input-group {
    margin-bottom: 1.25em;
}
.contact-us__form form .input-group {
    margin-bottom: 1.25em;
}
.contact-us__form form .input-group input {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    height: auto;
    width: 100%;
    font-family: inherit;
    transition: .2s ease-in-out;
    padding: 1.0714285714em 1.4285714286em;
    color: #888;
    font-size: .875rem;
    font-weight: 400;
    line-height: auto;
    border-radius: 0.3571428571em;
}
.contact-us__form form textarea {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    height: auto;
    width: 100%;
    transition: .2s ease-in-out;
    padding: 1.4285714286em;
    font-family: DM Sans,sans-serif!important;
    font-size: 14px;
    font-weight: 400;
    line-height: auto;
    border-radius: 0.3571428571em;
    margin-bottom: 1.4285714286em;
}
textarea {
    resize: unset;
    overflow: auto;
    vertical-align: top;
}
.contact{
    background-color: #e49c86;
    color: #fff;
    height: 3.125rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    border-radius: 0.3571428571em;
}
.contact span{
    font-weight: 700;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}