.slick-card{
    width: 300px;
    margin: 5px;
}
.slick-card img{
    width: 100%;

}
.slick-tick{
    background: #fff;
    border-radius: 50% 50% 50% 50%  ;
    padding: 3px;
}
.slick-tick i{
    color: black;
}
.swiper-img{
    width: 900px;
    height: 350px;
}